.tradesboard {
  &-link,
  &-btn {
    margin-right: 1rem;
    cursor: pointer;
  }

  &-btn:last-child {
    margin-right: 0;
  }

  &-table {
    &.table {
      margin: 0;
      background-color: var(--white);

      thead th {
        font-weight: 500;
        color: var(--gray);
        border: 0;
      }
    }

    &-wrap {
      margin: 0 0 7rem;
      border: 0.0625rem solid var(--iron);
      border-radius: 0.3125rem;
    }

    &-icon-column {
      min-width: 4rem;

      &-arrow {
        padding-right: 0;
      }

      &-remove {
        padding-left: 0;
      }
    }

    &-arrow,
    &-remove {
      display: inline-block;
      padding: 0.5625rem 0;
    }

    &-remove {
      svg {
        fill: var(--gray);
      }
    }

    &-remove {
      cursor: pointer;

      &:hover {
        svg {
          fill: var(--danger);
        }
      }
    }
  }

  &-bottom {
    padding: 1rem;
    background-color: var(--white);
    border-top: 0.0625rem solid var(--athens-gray);
  }

  &-select-control,
  &-form-control {
    display: inline-block !important;
    min-width: 9rem;
    color: var(--gray) !important;

    .Select-value-label,
    .Select-input {
      color: var(--gray) !important;
    }

    .Select-clear-zone {
      display: none;
    }
  }
}
